<?xml version="1.0" encoding="UTF-8"?>
<project basedir="." default="output">
    <taskdef resource="MyAntTasks.properties" 
	     classpath="DIR_NAME/test/libs/mytasks.jar" />

    <target name="password">
	<encrypt property="gmail.password" />
    </target>

    <tstamp> 
        <format property="test_output.date" pattern="MM-dd-yyyy" />
    </tstamp>

    <target name="compile" >
	<javac srcdir="DIR_NAME/test" 
	       destdir="DIR_NAME/test" 
               classpath="./libs/*.jar:../src/java">
             <exclude name="*.txt" />
             <exclude name="libs/*.jar" />
             <exclude name="test.xml" />
             <exclude name="test.xml.template" />
             <exclude name="test_run.sh" />
             <exclude name="web_utils/testSuiteRun.xml" />
	     <exclude name="web_utils/BingProxyTestExpectedResults.xml" />
        </javac>
    </target>

    <target name="test" depends="compile">
    	<junit printsummary="yes">
            <classpath>
		<pathelement path="../src/java" />
		<pathelement path="./libs/ant-junit.jar" />
		<pathelement path="." />
		<pathelement path="./libs/junit-4.10.jar" />
	    </classpath>	
  	    <formatter type="plain" />
            <test 
	    	  name="web_utils.InsatiableLifeJUnitTest"
		  outfile="test_result.${test_output.date}"
		  todir="DIR_NAME/test" /> 
        </junit>
    </target>

    <target name="output" depends="password, test">
        <mail
            user="jazzdman@gmail.com"
	    password="${gmail.password}"
    	    ssl="yes" 
    	    mailhost="smtp.gmail.com" 
	    mailport="465" 
	    subject="Nightly test results for ${test_output.date}">
                <to address="jazzdman@gmail.com" />
                <from address="jazzdman@gmail.com" />
                <message src="DIR_NAME/test/test_result.${test_output.date}.txt" />
        </mail>
    </target>
</project>
