<?xml version="1.0" encoding="UTF-8"?>
<project basedir="." default="output">

    <tstamp> 
        <format property="test_output.date" pattern="MM-dd-yyyy" />
    </tstamp>

    <target name="compile_src" >
	<javac srcdir="DIR_NAME/src/java" 
	       destdir="DIR_NAME/src/java" 
               classpath="DIR_NAME/src/libs/*.jar:DIR_NAME/src/java">
        </javac>
    </target>

    <target name="compile_test" depends="compile_src" >
	<javac srcdir="DIR_NAME/test" 
	       destdir="DIR_NAME/test" 
               classpath="DIR_NAME/test/libs/*.jar:DIR_NAME/src/java">
             <exclude name="*.txt" />
             <exclude name="libs/*.jar" />
             <exclude name="test.xml" />
             <exclude name="test.xml.template" />
             <exclude name="test_run.sh" />
        </javac>
    </target>

    <target name="jar" depends="compile_test">
	<exec executable="jar">
	    <arg value="cf" />
            <arg value="libs/mytasks.jar" />
            <arg value="MyAntTasks.properties" />
            <arg value="web_utils/EncryptionTask.class" />
	</exec>
    </target>
   
    <target name="task" depends="jar">
        <taskdef resource="MyAntTasks.properties" 
	     classpath="DIR_NAME/test/libs/mytasks.jar" />
    </target>

    <target name="password" depends="task">
	<encrypt property="gmail.password" />
    </target>

    <target name="test" depends="compile_test">
    	<junit printsummary="yes">
            <classpath>
		<pathelement path="../src/java" />
		<pathelement path="./libs/ant-junit.jar" />
		<pathelement path="." />
		<pathelement path="./libs/junit-4.10.jar" />
	    </classpath>	
  	    <formatter type="plain" />
            <test 
	    	  name="web_utils.InsatiableLifeJUnitTest"
		  outfile="test_result.${test_output.date}"
		  todir="DIR_NAME/test" /> 
        </junit>
    </target>

    <target name="javadoc">
	<javadoc sourcepath="../src/java" destdir="../javadoc" />
	<copydir src="../javadoc" dest="../../../Sites/jazzdman.dyndns.org/javadoc"/>
    </target>

    <target name="output" depends="password, test, javadoc">
        <mail
            user="jazzdman@gmail.com"
	    password="${gmail.password}"
    	    ssl="yes" 
    	    mailhost="smtp.gmail.com" 
	    mailport="465" 
	    subject="Nightly test results for ${test_output.date}">
                <to address="jazzdman@gmail.com" />
                <from address="jazzdman@gmail.com" />
                <message src="DIR_NAME/test/test_result.${test_output.date}.txt" />
        </mail>
    </target>
</project>
